{% load i18n %}
<div class="navbar-custom d-flex align-items-center justify-content-between">

  <!-- Logo and Heading -->
  <div class="d-flex align-items-center flex-grow-1 justify-content-center text-center">
    <h1 class="mb-0" style="font-size: 2.0rem; color: black; font-weight: bold;">Invecta</h1>
  </div>
      <!-- Logout Button -->
      <button class="btn btn-outline-danger" onclick="location.href='/logout/';" style="font-size: 1.25rem;">
        <i class="fas fa-sign-out-alt"></i>
      </button>
</div>

</div>
